body {
  background-color: rgb(170, 159, 180);
  height: 6000px;
}

.nav-767 {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
}

.nav-container-767 {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.nav-container-bottom {
  background-color: yellow;
  height: 50%;
  overflow: hidden;
}

.nav-1023 {
  display: none;
}

.main-grid-container {
  margin: 80px auto 0 auto;
  display: grid;
  height: 100%;
  background-color: mediumaquamarine;
  grid-template-rows: auto auto auto;
  grid-template-columns: 100%;
  grid-gap: 10px;
  width: 98%;
}

.main-grid-container img {
  height: 100%;
  width: 100%;
}

.parent-container {
  max-width: 1200px;
  margin: 0 auto;
}

.news-title-container {
  margin-top: 100px;
}

.news-title-container h2 {
  font-size: large;
}

.news-grid-container {
  display: grid;
  gap: 14px;
  grid-template-rows: repeat(8, minmax(auto, 1fr));
  /* background-color: black; */
  height: auto;
  width: 95%;
  margin: 0 auto;
}

.news-grid-items {
  /* background-color: red; */
  height: 100%;
}

.news-grid-container img {
  height: 80px;
  width: auto;
  float: left;
  padding-right: 18px;
}

@media only screen and (min-width: 768px) {
  .nav-767 {
    display: none;
  }

  .nav-1023 {
    display: block;
    background-color: wheat;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .logo-nav-1023 {
    float: left;
    height: 60px;
  }

  .nav1-container-1023 {
    height: 25px;
    display: flex;
    justify-content: space-between;
  }

  .nav2-container-1023 {
    height: 35px;
    display: flex;
    justify-content: space-between;
  }

  .nav-container-bottom {
    height: 20px;
  }

  .main-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .main-grid-item1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  .main-grid-item2 {
    grid-area: 1 / 3;
  }

  .main-grid-item3 {
    grid-area: 2 / 3;
  }

  .news-grid-container {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    gap: 20px;
  }

  .news-grid-container img {
    height: auto;
    width: 100%;
    padding-right: 0;
  }

  .funding-list li {
    display: inline;
  }

  .funding-list li:nth-of-type(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }
}

@media only screen and (min-width: 1024px) {
  .logo-nav-1023 {
    display: none;
  }

  .news-grid-container {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }

  .funding-title-container {
    display: flex;
    justify-content: space-between;
  }
}
