h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Arimo", sans-serif;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: unset;
}

/* NAVIGATION BAR */

.nav-767 {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
}

.nav-container-767 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 50%;
}

.nav-767 img {
  height: 100%;
  max-width: 80px;
}

.nav-container-767 a {
  font-size: 23px;
  color: #aaa;
  border-left: 1px solid lightgray;
  padding: 7px 10px;
  line-height: 40px;
}

.tertiary-container a {
  color: #6b6b6b;
  text-decoration: none;
}

.deals-grid-items a {
  text-decoration: none;
}

.social-flex-container a {
  margin: 20px;
  background-color: #333;
  border-radius: 50%;
  padding: 10px;
  color: white;
  border: 1.8px solid #333;
}

.links-container a {
  margin: 10px;
  text-decoration: none;
  color: #aaa;
}

.nav-container-767 a:last-child {
  color: #f42;
}

.nav-container-bottom {
  background-color: #fd3;
  height: 50%;
  overflow: hidden;
  padding-left: 10px;
  font-size: 14px;
  line-height: 40px;
}

.nav-1023 {
  display: none;
  z-index: 100;
}

/* MAIN GRID */

.main-grid-container {
  margin: 81px auto 0 auto;
  display: grid;
  height: 100%;
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  grid-template-columns: 100%;
  grid-gap: 10px;
  width: 98%;
}

.main-grid-container img {
  height: 100%;
  width: 100%;
}

.main-grid-items {
  position: relative;
}

.tnw-logo-grid3 {
  display: none;
}

.main-grid-text {
  position: absolute;
  bottom: 0;
  color: white;
  padding-top: 50px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 80%
  );
}

.main-grid-text * {
  padding-left: 15px;
  padding-bottom: 15px;
}

.main-grid-items h2 {
  font-size: 20px;
}

.main-grid-text h3 {
  font-size: 14px;
}

.main-grid-text p {
  font-size: 12px;
  color: #aaa;
}

.parent-container {
  max-width: 1200px;
  margin: 0 auto;
}

/* NEWS GRID */

.news-title-container {
  width: 95%;
  margin: 60px auto 30px auto;
}

.news-title-container h2 {
  font-size: 28px;
  color: #f42;
  font-weight: 700;
}

.news-grid-container {
  display: grid;
  gap: 14px;
  grid-template-rows: repeat(8, minmax(auto, 1fr));
  height: auto;
  width: 95%;
  margin: 0 auto 60px auto;
}

.news-grid-items {
  height: 100%;
}

.news-grid-items h2 {
  font-size: 16px;
  color: #131313;
}

.news-grid-items p {
  color: #a9a9a9;
  line-height: 2em;
  font-size: 13px;
}

.news-grid-container img {
  height: 80px;
  width: auto;
  float: left;
  padding-right: 18px;
}

/* FUNDING SECTION  */

.funding-title-container {
  width: 95%;
  margin: 0 auto 30px auto;
  color: #f42;
  line-height: 2em;
}

.funding-title {
  font-size: 28px;
  color: #f42;
}

.funding-list {
  font-size: 14px;
  color: #f42;
}

.funding-grid-container {
  display: grid;
  width: 95%;
  margin: 0 auto;
  gap: 20px;
  grid-template-rows: repeat(4, auto);
}

.funding-grid-items {
  position: relative;
}

.orange p,
.lightorange p {
  padding-left: 100px;
}

.smartlogo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 70px;
}

.orange {
  background-color: #f42;
  height: 45px;
}

.orange p {
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding-top: 11px;
}

.lightorange {
  background-color: #ffebe7;
  height: 59px;
}

.lightorange p {
  font-size: 18px;
  font-weight: 700;
  padding-top: 14px;
}

.beige1 {
  background-color: #fffaf8;
  height: 80px;
  border-bottom: 1px solid #f42;
}

.beige1 p,
.beige2 p {
  font-size: 13px;
  padding-left: 15px;
  padding-top: 13px;
}

.beige2 {
  background-color: #fffaf8;
  height: 45px;
}

.funding-grid-item4 {
  display: none;
}

/* Eight Grid Container  */

.eight-grid-container {
  display: grid;
  grid-template-rows: repeat(8, minmax(auto, 1fr));
  width: 95%;
  margin: 0 auto;
  gap: 20px;
}

.eight-grid-items h2 {
  color: #f42;
  font-size: 28px;
  font-weight: bold;
}

.img-txt-container {
  position: relative;
  margin-top: 20px;
}

.text-main-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 80%
  );
}

.text-main-img * {
  padding-bottom: 10px;
  padding-left: 10px;
}

.text-main-img h3 {
  font-size: 14px;
  color: white;
}

.text-main-img h2 {
  font-size: 20px;
  color: white;
}

.text-main-img p {
  color: #a9a9a9;
}

.img-txt-container img {
  width: 100%;
}

.secondary-container img {
  height: 96px;
  float: right;
}

.secondary-container {
  overflow: auto;
  margin-top: 1px;
  color: #f42;
  background-color: #fff4f2;
}

.secondary-container h3 {
  font-size: 13px;
  padding: 10px;
}

.secondary-container h2 {
  font-size: 14px;
  padding-left: 10px;
}

.tertiary-container {
  padding-left: 20px;
}

.tertiary-container li {
  list-style: disc;
  border-bottom: 1px solid #eee;
  line-height: 1.5em;
}

/* LATEST DEALS  */

.latest-deal-container {
  width: 95%;
  margin: 50px auto;
}

.deals-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  color: #f42;
  align-items: flex-end;
}

.deals-title-container h2 {
  font-size: 28px;
  font-weight: bold;
}

.deals-grid-container {
  display: grid;
  grid-template-rows: repeat(8, minmax(auto, 1fr));
}

.deals-grid-items img {
  height: 75px;
  float: left;
  margin-right: 13px;
  padding: 5px;
}

.deals-grid-items h3 {
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0;
}

.deals-grid-items span {
  font-size: 12px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.deals-grid-items p {
  color: #6f6f6f;
  font-size: 14px;
}

/* FOOTER  */

.footer {
  font-size: 16px;
}

.top-footer {
  background-color: #131313;
}

.social-flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-flex-container a:hover {
  background-color: black;
}

.links-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom-footer {
  text-align: center;
  padding: 20px 20%;
  background-color: black;
}

.bottom-footer p {
  color: #aaa;
}

.bottom-footer img {
  height: 15px;
}

/* MEDIA 768PX - 1023PX */

@media only screen and (min-width: 768px) {
  /* NAVIGATION BAR  */

  .nav-767 {
    display: none;
  }

  .nav-1023 {
    display: block;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
  }

  .logo-nav-1023 {
    float: left;
    height: 60px;
  }

  .logo-nav-1023 img {
    height: 100%;
    width: auto;
  }

  .nav1-container-1023 {
    height: 25px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 14px;
  }

  .nav1-container-1023-left,
  .nav1-container-1023-right {
    align-self: center;
    padding-left: 20px;
  }

  .nav1-container-1023 a {
    color: #6f6f6f;
    text-decoration: none;
    padding-right: 10px;
  }

  .nav2-container-1023-left a {
    text-decoration: none;
    color: #a9a9a9;
    font-size: 14px;
    padding-right: 10px;
  }

  .nav2-container-1023-right a {
    font-size: 23px;
    color: #aaa;
    border-left: 1px solid lightgray;
    padding: 5px 10px 2px 10px;
    line-height: 40px;
  }

  .nav1-container-1023 a:hover {
    color: white;
  }

  .nav2-container-1023 {
    height: 35px;
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .nav2-container-1023-left {
    padding-left: 20px;
    align-self: center;
  }

  .nav2-container-1023-left a:hover {
    color: black;
  }

  .nav-container-bottom {
    height: 30px;
    line-height: 30px;
    padding-left: 15%;
  }

  /* ******* MAIN GRID ******* */

  .main-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: 92px auto 0 auto;
  }

  .main-grid-item1 h2 {
    font-size: 40px;
  }

  .main-grid-item1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  .main-grid-item2 {
    grid-area: 1 / 3;
  }

  .main-grid-item3 {
    grid-area: 2 / 3;
  }

  /* NEWS GRID  */

  .news-grid-container {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    gap: 20px;
    margin-bottom: 80px;
  }

  .news-grid-container img {
    height: auto;
    width: 100%;
    padding-right: 0;
    margin-bottom: 7px;
  }

  /* FUNDING SECTION  */

  .funding-list li {
    display: inline;
    font-size: 16px;
    padding: 0 8px;
  }

  .funding-list li:nth-of-type(2) {
    border-left: 1px solid #f42;
    border-right: 1px solid #f42;
  }

  .funding-grid-container {
    grid-template-columns: repeat(3, auto);
  }

  /* 8 Grid Items  */

  .eight-grid-container {
    grid-template-columns: repeat(2, minmax(auto, 1fr));
    grid-template-rows: repeat(4, minmax(auto, 1fr));
  }

  /* LATEST DEALS  */

  .deals-grid-container {
    grid-template-rows: repeat(3, minmax(auto, 1fr));
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    gap: 20px;
  }

  .deals-grid-items img {
    height: auto;
    width: 100%;
    margin-bottom: 10px;
  }
}

/* *******  MEDIA + 1024PX ******** */

@media only screen and (min-width: 1024px) {
  /* NAVIGATION BAR  */

  .logo-nav-1023 {
    display: none;
  }

  .nav-container-bottom {
    padding-left: 18px;
  }

  /* Main Grid  */

  .main-grid-item1 .tnw-logo-grid3 {
    display: flex;
    position: absolute;
    padding: 2% 48% 41% 2%;
    width: 50%;
    height: auto;
    background: linear-gradient(
      135deg,
      rgb(238, 61, 91) 0%,
      rgba(125, 185, 232, 0) 100%
    );
  }

  .main-grid-item1 h2 {
    font-size: 56px;
  }

  .main-grid-item2 h2,
  .main-grid-item3 h2 {
    font-size: 28px;
  }

  /* NEWS GRID  */

  .news-grid-container {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
    grid-template-rows: repeat(2, minmax(auto, 1fr));
  }

  /* FUNDING SECTION  */

  .funding-title-container {
    display: flex;
    justify-content: space-between;
  }

  .funding-grid-container {
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }

  .funding-grid-item4 {
    display: block;
  }

  /* 8 Grid Items */

  .eight-grid-container {
    grid-template-columns: repeat(3, minmax(auto, 1fr));
    grid-template-rows: repeat(3, minmax(auto, 1fr));
  }

  /* LATEST DEALS  */

  .deals-grid-container {
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    grid-template-columns: repeat(4, minmax(auto, 1fr));
  }
}
